@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --verde: #d4f4c5;
  --verde-oscuro: #617c6f;
  --verde-claro: #edf8d3;
  --contraste: #f9a473;
  --contraste-oscuro: #bd9567;
  --contraste-claro: #f5deb0;
  --degradado: linear-gradient(
    247deg,
    #64a485 6.29%,
    #7ead96 38.82%,
    #9dca99 62.65%,
    #bdf1a4 86.31%
  );
}


.subrayado {
    background-color: var(--verde);
    height: 10px;
    width: auto; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 50px auto 20px; /
  }
  .subrayado h3 {
    font-size: 3rem; 
    top: -20px; 
    padding: 0 10px; 
    font-family: "Bellefair";
    margin: 0; 
    transform: translate(0px, -20px);
  }
  body.citaPsicologia {
    background-image: url("../img/formulariofondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Chivo", sans-serif;
    background-color: #f4f4f4; 
    color: black; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.contenedorForm {
    background-color: white;
    padding: 2em; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 50%;
    height: 77vh;
}
.formReserva{
    display: flex;
    flex-direction: column;

}
.filasFormulario{
    display: flex;
    flex-direction: column;
   
   
}
.columnasForm{
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-bottom: 15px;
}
.formReserva input[type="text"],
.formReserva input[type="email"],
.formReserva input[type="date"],
.formReserva select {
    padding: 10px; /* Espacio dentro de los inputs y selects */
    margin-top: 5px; /* Espacio superior para los inputs y selects */
    border: 1px solid #617C6F; 
    border-radius: 20px; 
}
.botonform{
  margin-top: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 32px;
  font-family: "Chivo", sans-serif;
  font-size: 15px;
  border-radius: 15px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde-claro);
  color: #000000;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  
}
.botonform:hover {
  background-color: var(--verde-oscuro);
  color: #000000;
}
.botonVolver{
  margin-top: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 32px;
  font-family: "Chivo", sans-serif;
  font-size: 15px;
  border-radius: 15px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde-claro);
  color: #000000;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.botonVolver:hover {
  background-color: var(--verde-oscuro);
  color: #000000;
}

/* Estilos para pantallas más pequeñas que 992px */
@media only screen and (max-width: 992px) {
  .filasFormulario {
      flex-direction: column; 
  }
  .columnasForm {
      width: 100%; 
      margin-bottom: 10px; 
  }
}

/* Estilos para pantallas más pequeñas que 575px */
@media only screen and (max-width: 575px) {
  .subrayado h3 {
      font-size: 2rem; 
  }
  .contenedorForm {
      padding: 20px; 
  }
    .columnasForm {
        width: 100%; 
    }
  .botonform,
  .botonVolver {
      width: 100%; 
  }
}
