@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --verde: #d4f4c5;
  --verde-oscuro: #617c6f;
  --verde-claro: #edf8d3;
  --contraste: #f9a473;
  --contraste-oscuro: #bd9567;
  --contraste-claro: #f5deb0;
  --degradado: linear-gradient(
    247deg,
    #64a485 6.29%,
    #7ead96 38.82%,
    #9dca99 62.65%,
    #bdf1a4 86.31%
  );
}


.subrayado {
    background-color: var(--verde);
    height: 10px;
    width: 36%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 50px auto 20px; /
  }
  .subrayado h3 {
    font-size: 1.5rem; 
    top: -20px; 
    padding: 0 10px; 
    font-family: "Bellefair";
    font-size: 3em; 
    margin: 0; 
    transform: translate(0px, -20px);
  }
  body.citaPsicologia {
    background-image: url("../img/formulariofondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Chivo", sans-serif;
    background-color: #f4f4f4; 
    color: black; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.contenedorForm {
    background-color: white;
    padding: 40px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 80%; 
    max-width: 900px; 
}
.formReserva{
    display: flex;
    flex-direction: column;
}
.filasFormulario{
    display: flex;
    justify-content: space-between; 
    margin-bottom: 15px; 
   
}
.columnasForm{
    display: flex;
    flex-direction: column;
    width: 48%; 
}
.formReserva input[type="text"],
.formReserva input[type="email"],
.formReserva input[type="date"],
.formReserva select {
    padding: 10px; /* Espacio dentro de los inputs y selects */
    margin-top: 5px; /* Espacio superior para los inputs y selects */
    border: 1px solid #617C6F; 
    border-radius: 20px; 
}
.botonform{
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 32px;
  font-family: "Chivo", sans-serif;
  font-size: 15px;
  border-radius: 15px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde-claro);
  color: #000000;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  
}
.botonform:hover {
  background-color: var(--verde-oscuro);
  color: #000000;
}
.botonVolver{
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 32px;
  font-family: "Chivo", sans-serif;
  font-size: 15px;
  border-radius: 15px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde-claro);
  color: #000000;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.botonVolver:hover {
  background-color: var(--verde-oscuro);
  color: #000000;
}

/* Media Query para tablets y pantallas hasta 992px de ancho  */
@media (max-width: 992px) {
    .contenedorForm {
        width: 90%; /* Aumenta el ancho para utilizar más espacio disponible */
        padding: 20px; /* Reduce el padding para adaptarse a pantallas más pequeñas */
    }
    
    .filasFormulario {
        flex-direction: column; /* Cambia la dirección de las filas para que los elementos se apilen verticalmente */
    }

    .columnasForm {
        width: 100%; /* Ajusta las columnas para ocupar el 100% del ancho disponible en la fila */
        margin-bottom: 15px; /* Añade un margen inferior para separar las columnas cuando se apilan */
      
    }

    .subrayado {
        width: 70%; /* Ajusta el ancho del subrayado para que se vea mejor en pantallas más pequeñas */
    }

    .subrayado h3 {
        font-size: 2em; /* Ajusta el tamaño del texto para que sea más adecuado para pantallas más pequeñas */
    }

    .botonform, .botonVolver {
        width: 50%; /* Cambia el ancho a auto para que los botones se ajusten al contenido */
        padding: 10px 20px; /* Aumenta el padding para hacer los botones más fáciles de tocar en pantallas táctiles */
    }
}

/* Media Query para dispositivos móviles hasta 575px de ancho  */
@media (max-width: 575px) {
  .contenedorForm {
    width: 90%; /* Reduce el ancho para no ocupar todo el espacio disponible */
    margin: 0 auto; /* Centra el formulario en la página con márgenes automáticos */
    padding: 15px; /* Mantiene el padding para espacio interno */
}

.subrayado {
    width: 100%; /* Asegura que el subrayado se ajuste al ancho del contenedor */
    margin: 30px auto 15px; /* Ajusta los márgenes para una mejor visualización */
}

.subrayado h3 {
    font-size: 1.5em; /* Adecúa el tamaño del texto para pantallas pequeñas */
    padding: 0 5px; /* Ajusta el padding lateral */
}

.filasFormulario {
    flex-direction: column; /* Acomoda los elementos verticalmente para facilitar el acceso */
}

.columnasForm {
    width: 100%; /* Permite que las columnas usen el ancho completo dentro del contenedor */
}

.formReserva input[type="text"],
.formReserva input[type="email"],
.formReserva input[type="date"],
.formReserva select {
    border-radius: 15px; /* Suaviza los bordes para un aspecto más agradable */
  
}

.botonform, .botonVolver {
  padding: 10px 20px;
  font-size: 14px; /* Tamaño de letra legible */
  margin: 10px auto; /* Margen automático para centrar los botones */
  border-radius: 15px; /* Bordes redondeados para estética */
  display: block; /* Asegura que el botón sea un bloque para aplicar márgenes automáticos */
  width: 40%;
  text-align: center;
  line-height: normal; /* Puede ajustar esta propiedad si el texto no se centra verticalmente */
  height:40px;
}

.contenedorBotones {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  flex-direction: column; /* Organiza los botones en una columna */
  align-items: center; /* Centra los botones verticalmente */
  width: 100%; /* Asegura que el contenedor abarque todo el ancho disponible */
  margin-top: 20px;  /* Asegura que los botones también estén centrados horizontalmente */
}
}