* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
  margin: 0;
}
/* Estilos para la página de inicio específicamente */
.inicio {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Chivo", sans-serif;
  color: #000000;
  height: 100vh;
}

main {
  flex-direction: column;
  display: flex;
  height: 100%;
}
/* /pagino de inicio/ */
.pginicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

h1 {
  font-family: "Righteous";
  font-size: 80px;
  color: var(--verde-oscuro);
}

p {
  /* font-size: 16px; */
  font-family: "Bellefair";
}

.boton_inicio {
  margin-top: 95px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 397px;
  height: 82px;
  font-family: "Chivo", sans-serif;
  font-size: 32px;
  border-radius: 15px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde-claro);
  color: #000000;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.boton_inicio:hover {
  background-color: var(--verde-oscuro);
  color: #000000;
}

.bienvenido {
  display: flex;
  width: 100%;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.titBienvenido {
  color: var(--verde-oscuro);
  font-size: 48px;
  font-family: "Bellefair";
  margin-bottom: 2%;
}

.bienvenido p {
  font-size: 40px;
  text-align: center;
  margin: 0 20%;
}

.talleresInicio {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 5%;
}

.subrayado {
  background-color: var(--verde);
  height: 10px;
  font-size: 24px;
  width: 300px;
  text-align: center;
  margin: 50px auto;
}

.subrayado h3 {
  transform: translate(0px, -20px);
}

.taller {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--contraste-claro);
  width: 400px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 3% 5%;
}

.taller img {
  border-radius: 10px 10px 0 0;
  width: 400px;
  height: auto;
}

.taller h3 {
  font-size: 24px;
  font-family: "Bellefair";
  text-align: center;
  padding: 25px;
}

.taller p {
  padding: 0 35px;
  text-align: center;
  font-family: "Chivo", sans-serif;
}

.linkIndex {
  display: flex; /* Establece el modelo de caja flexible */
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  border-radius: 15px;
  width: 90px;
  height: 40px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde-claro);
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: auto;
  margin-bottom: 25px;
}

.linkIndex:hover {
  background-color: var(--verde-oscuro);
  color: #000000;
}

.profesionales {
  text-align: center;
  background-image: url("../img/fondoProfresionalesInicio.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.profesionales h2 {
  color: var(--verde-oscuro);
  font-family: "Bellefair";
  font-size: 40px;
  margin-bottom: 20px;
}

.profesionales img {
  width: 200px;
}

.profesionales button {
  border-radius: 10px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde-claro);
  width: 250px;
  height: 35px;
  font-size: 16px;
}

.profesionales button:hover {
  background-color: var(--verde);
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin: 15px 250px;
}

.cursos {
  background-color: var(--verde-claro);
  border-radius: 15px;
  max-width: 500px;
  width: calc(50% - 20px);
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cursos img {
  display: block;
  height: 180px;
  width: auto;
  margin: 10px auto;
}

.card-title h3 {
  text-align: center;
  padding: 10px 0;
}

.card-text p {
  padding: 35px;
  margin: 0;
  font-size: 16px;
  font-family: "Chivo", sans-serif;
}

.card-link {
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 25px;
}

.card-link p {
  margin: 0;
  padding: 0 15px;
  font-family: "Chivo", sans-serif;
}

.card-link button {
  width: 20%;
  padding: 10px;
  border: none;
  background-color: var(--contraste);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-link button:hover {
  background-color: var(--contraste-claro);
}
