* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
  margin: 0;
}

/* Estilos para la página de inicio específicamente */
.inicio {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Chivo", sans-serif;
  color: #000000;
  height: 100vh;
}

main {
  flex-direction: column;
  display: flex;
  height: 100%;
}

/* /Página de inicio/ */
.pginicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.pginicio h1 {
  font-family: "Righteous";
  font-size: 5em; /* Mantenemos el tamaño */
  color: var(--verde-oscuro);
}

.bienvenido p {
  /* font-size: 16px; */
  font-family: "Bellefair";
}

.boton_inicio {
  margin-top: 95px; /* Mantenemos el tamaño */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 397px; /* Mantenemos el tamaño */
  height: 82px; /* Mantenemos el tamaño */
  font-family: "Chivo", sans-serif;
  font-size: 32px; /* Mantenemos el tamaño */
  border-radius: 15px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde-claro);
  color: #000000;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.boton_inicio:hover {
  background-color: var(--verde-oscuro);
  color: #000000;
}

.bienvenido {
  display: flex;
  width: 100%;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.titBienvenido {
  color: var(--verde-oscuro);
  font-size: 48px; /* Mantenemos el tamaño */
  font-family: "Bellefair";
  margin-bottom: 2%;
}

.bienvenido p {
  font-size: 40px; /* Mantenemos el tamaño */
  text-align: center;
  margin: 0 20%;
}

.talleresInicio {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 5%;
}

.subrayado {
  background-color: var(--verde);
  height: 10px;
  font-size: 24px; /* Mantenemos el tamaño */
  width: 300px;
  text-align: center;
  margin: 50px auto;
}

.subrayado h3 {
  transform: translate(0px, -20px);
  margin-top: 20px;
}

.taller {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--contraste-claro);
  width: 400px; /* Mantenemos el tamaño */
  height: 450px; /* Mantenemos el tamaño */
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 3% 5%;
}

.taller img {
  border-radius: 10px 10px 0 0;
  width: 400px; /* Mantenemos el tamaño */
  height: auto;
}

.taller h3 {
  font-size: 24px; /* Mantenemos el tamaño */
  font-family: "Bellefair";
  text-align: center;
  padding: 25px;
}

.taller p {
  padding: 0 35px;
  text-align: center;
  font-family: "Chivo", sans-serif;
}

.linkIndex {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 50%;
  height: 40px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde-claro);
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 15px;
}

.linkIndex:hover {
  background-color: var(--verde-oscuro);
  color: #000000;
}

.profesionales {
  text-align: center;
  background-image: url("../img/fondoProfresionalesInicio.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.profesionales h2 {
  color: var(--verde-oscuro);
  font-family: "Bellefair";
  font-size: 40px; /* Mantenemos el tamaño */
  margin-bottom: 20px;
}

.profesionales img {
  width: 200px; /* Mantenemos el tamaño */
}

.profesionales button {
  border-radius: 10px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde-claro);
  width: 250px; /* Mantenemos el tamaño */
  height: 35px; /* Mantenemos el tamaño */
  font-size: 16px;
}

.profesionales button:hover {
  background-color: var(--verde);
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin: 250px;
}

.cursos {
  background-color: var(--verde-claro);
  border-radius: 3vh; /* aproximadamente equivalente a 15px para un ancho de 200px */
  width: auto;
  max-width: calc(50% - 2vw); /* 20px en una pantalla de 1000px de ancho */
  margin: 2vw auto; /* 20px en una pantalla de 1000px de ancho */
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2); /* equivalente a 0 4px 8px rgba(0, 0, 0, 0.2) en una pantalla de 1000px de ancho */
}

.cursos img {
  display: block;
  height: 10vw;
  width: auto;
  max-width: 100%;
  margin: 1vw auto;
}

.card-title h3 {
  text-align: center;
  padding: 1vw 0;
}

.card-text p {
  padding: 2vw;
  margin: 0;
  font-size: 1.3vw;
  font-family: "Chivo", sans-serif;
}

.card-link {
  border-radius: 3vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1.5vw;
}

.card-link p {
  margin: auto;
  padding: 0 1vw;
  font-family: "Chivo", sans-serif;
}
