/* pagina perfil */

.formInicioSesion {
  width: 100%;
  border-radius: 15px;
  padding: 0px;
  margin: auto;
  position: relative;
  max-width: 800px;
  font-family: "Chivo", sans-serif;
}

.formInicioSesion label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formInicioSesion hr {
  height: 8px;
  background-color: var(--verde-oscuro);
  border-radius: 10px;
  border-style: none;
  margin: 28px -50px;
  width: 115%;
  text-align: center;
}

.editarPerfil input {
  font-family: "Chivo", sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--verde-oscuro);
  border-radius: 20px;
}

.formInicioSesion button[type="submit"] {
  background-color: var(--verde-oscuro);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 80%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease, color 0.5s ease;
  display: block;
  margin: 20px auto;
}

.formInicioSesion button[type="submit"]:hover {
  background-color: var(--contraste-oscuro);
}

.formInicioSesion textarea {
  flex: 1;
  padding-right: 80px;
  font-family: "Chivo", sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--verde-oscuro);
  border-radius: 20px;
}

/* perfil */
.Parteperfil {
  font-family: "Chivo", sans-serif;
  margin-top: 5%;
}

.perfil {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url("../img/fondoPerfil.png");
}

.editarPerfil {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.fotoPerfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#profilePic {
  border-radius: 50%; /* Hace la imagen circular */
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.fotoPerfil input[type="file"] {
  border-radius: 15px;
  width: 10%;
}

#profileInput {
  display: none;
}

.fotoPerfil label {
  background-color: var(--verde);
  color: black;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
}

.fotoPerfil label:hover {
  background-color: var(--verde-claro);
  color: black;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.formEditarPerfil {
  display: flex;
  flex-wrap: wrap;
  margin: auto 15% 5% 15%;
}
.formEditarPerfil .form-group {
  flex: 1 1 33%;
  padding: 10px;
  box-sizing: border-box;
}
.formEditarPerfil .form-group-bajo {
  flex: 1 1 33%;
  padding: 10px;
  box-sizing: border-box;
}

.formEditarPerfil label {
  color: rgb(90, 89, 89);
  font-size: 14px;
  padding-left: 13px;
}

.formEditarPerfil input[type="text"],
.formEditarPerfil input[type="email"],
.formEditarPerfil input[type="tel"],
.formEditarPerfil input[type="date"],
.formEditarPerfil input[type="password"] {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--verde-oscuro);
  outline: none;
}
.formEditarPerfil input[type="text"]:focus,
.formEditarPerfil input[type="email"]:focus,
.formEditarPerfil input[type="tel"]:focus,
.formEditarPerfil input[type="password"]:focus {
  border-bottom: 2px solid var(--verde-claro);
}

.formEditarPerfil .form-group-half {
  flex: 0 0 50%; /* toma exactamente la mitad del espacio disponible */
  padding: 10px;
  box-sizing: border-box;
}

.formEditarPerfil .form-group-full {
  display: flex; /* usa flexbox para alinear los hijos en una fila */
  justify-content: space-between; /* distribuye el espacio entre los hijos */
  width: 100%; /* toma todo el ancho disponible */
}

.formEditarPerfil button {
  background-color: var(--contraste);
  padding: 10px;
  border-radius: 15px;
  border-style: none;
  display: block; /* asegura que el botón esté en su propia línea */
  margin: 20px auto; /* centra el botón debajo de los campos */
  font-family: "Chivo", sans-serif;
  font-size: 15px;
  cursor: pointer;
  width: fit-content; /* ajusta el ancho al contenido del botón */
}

/* Asegúrate de que no haya otras reglas CSS que interfieran con estas. */

.formEditarPerfil button:hover {
  background-color: var(--contraste-claro);
  padding: 10px;
  border-radius: 15px;
  margin: 20px auto;
  border-style: none;
  font-family: "Chivo", sans-serif;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

/* calendario */

.calendario {
  display: flex;
  width: 80%;
  align-content: center;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.fc-event-title {
  white-space: normal;
}

/* Estilo base para los botones */
.fc .fc-button-primary {
  background-color: var(--verde-oscuro);
  color: #ffffff;
}

/* Estilo para el estado hover de los botones */
.fc .fc-button-primary:hover {
  background-color: var(--verde);
  color: black;
}
.fc .fc-day-today {
  background-color: var(--verde-claro) !important;
}
