/* pagina perfil */

.formInicioSesion {
  width: 100%;
  border-radius: 15px;
  padding: 0px;
  margin: auto;
  position: relative;
  max-width: 800px;
  font-family: "Chivo", sans-serif;
}

.formInicioSesion label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formInicioSesion hr {
  height: 8px;
  background-color: var(--verde-oscuro);
  border-radius: 10px;
  border-style: none;
  margin: 28px -50px;
  width: 115%;
  text-align: center;
}

.subrayadoFormulario {
  background-color: var(--contraste-claro);
  height: 15px;
  font-size: 30px;
  width: 425px;
  text-align: center;
  margin: 30px auto;
  font-family: "Righteous";
  margin-top: -10px;
}

.subrayadoFormulario h3 {
  transform: translate(0px, -50px);
  font-size: 60px;
}
.editarPerfil input {
  font-family: "Chivo", sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--verde-oscuro);
  border-radius: 20px;
}

.formInicioSesion textarea {
  flex: 1;
  padding-right: 80px;
  font-family: "Chivo", sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--verde-oscuro);
  border-radius: 20px;
}

/* perfil */
.Parteperfil {
  font-family: "Chivo", sans-serif;
  margin-top: 5%;
}

.perfil {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url("../img/fondoPerfil.png");
}

.editarPerfil {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.formEditarPerfil {
  display: flex;
  flex-wrap: wrap;
  margin: auto 15% 5% 15%;
}
.formEditarPerfil .form-group {
  flex: 1 1 33%;
  padding: 10px;
  box-sizing: border-box;
}
.formEditarPerfil .form-group-bajo {
  flex: 1 1 33%;
  padding: 10px;
  box-sizing: border-box;
}

.formEditarPerfil label {
  color: rgb(90, 89, 89);
  font-size: 14px;
  padding-left: 13px;
}

.formEditarPerfil input[type="text"],
.formEditarPerfil input[type="email"],
.formEditarPerfil input[type="tel"],
.formEditarPerfil input[type="date"],
.formEditarPerfil input[type="password"] {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--verde-oscuro);
  outline: none;
}
.formEditarPerfil input[type="text"]:focus,
.formEditarPerfil input[type="email"]:focus,
.formEditarPerfil input[type="tel"]:focus,
.formEditarPerfil input[type="password"]:focus {
  border-bottom: 2px solid var(--verde-claro);
}

.formEditarPerfil .form-group-half {
  flex: 0 0 50%;
  padding: 10px;
  box-sizing: border-box;
}

.formEditarPerfil .form-group-full {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.formEditarPerfil button {
  border: 2px solid var(--verde-oscuro);
  background-color: white;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px;
  width: max-content;
  border-radius: 15px;
  display: block;
  margin: 20px auto;
  font-family: "Chivo", sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.formEditarPerfil button:hover {
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde);
  padding: 10px;
  border-radius: 15px;
  margin: 20px auto;
  font-family: "Chivo", sans-serif;
}

/* calendario */

.calendario {
  display: flex;
  width: 80%;
  align-content: center;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

/* Estilo base para los botones */
.fc .fc-button-primary {
  background-color: var(--verde-oscuro);
  color: #ffffff;
}

/* Estilo para el estado hover de los botones */
.fc .fc-button-primary:hover {
  background-color: var(--verde);
  color: black;
}
.fc .fc-day-today {
  background-color: var(--verde-claro) !important;
}

.fc-daygrid-event-dot {
  display: none;
}

.fc-event {
  background-color: #bd9567;
  color: white;
}

.fc-event:hover {
  background-color: #bd9567;
  color: white;
  cursor: default;
}

.fc-event-title,
.fc-event-time {
  font-weight: normal !important;
  padding: 5px;
  white-space: normal;
}

@media screen and (max-width: 992px) {
  .Parteperfil {
    margin-top: 80px;
  }

  .formEditarPerfil button {
    width: max-content;
  }
}
