@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --verde: #d4f4c5;
  --verde-oscuro: #617c6f;
  --verde-claro: #edf8d3;
  --contraste: #f9a473;
  --contraste-oscuro: #bd9567;
  --contraste-claro: #f5deb0;
  --degradado: linear-gradient(
    247deg,
    #64a485 6.29%,
    #7ead96 38.82%,
    #9dca99 62.65%,
    #bdf1a4 86.31%
  );
}
/* Resetea el padding y el margin para remover los espacios predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
  margin: 0;
}

/* Estilos para la página de inicio específicamente */
.inicio {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Chivo", sans-serif;
  color: #000000;
  height: 100vh;
}

main {
  flex-direction: column;
  display: flex;
  height: 100%;
}

/* Estilos para el encabezado */
.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  max-height: 70px;
}

.nombre {
  margin-left: 25px;
  max-height: 45px;
}

/* Estilos para el menú */
nav {
  flex-grow: 1;
  text-align: right;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0;
}

.menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

/* Estilo base para ambos botones */
.iniciarSesion,
.registro {
  display: inline-block;
  text-align: center;
  margin-left: 8px;
  border-radius: 10px;
  border: 2px solid var(--verde-oscuro);
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  text-decoration: none;
}

/* Estilo para el botón "Registro" */
.registro {
  background-color: var(--verde-oscuro);
  color: black;
}

.iniciarSesion:hover,
.registro:hover {
  background-color: var(--verde-claro);
}

/* Estilos para el dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--verde);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  cursor: pointer;
}

/* Footer */
footer {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(244, 252, 240, 0.54) 22.4%,
    #e8f9e0 57.46%,
    #d4f4c5 100%
  );
  color: #333;
  padding: 20px 0;
  position: relative;
}

.redesSociales {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.redesSociales a {
  margin: 0 20px;
}

.redesSociales img {
  width: 30px;
  height: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 20px;
}

.footer-section h3 {
  color: #000;
  margin-bottom: 10px;
}

.footer-section a {
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 5px;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: var(--verde-oscuro);
}

.footer-branding {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid var(--verde-oscuro); /* Línea divisoria */
  padding-top: 10px;
}

.footer-branding p {
  margin: 5px 0;
}

.nombre_footer {
  font-family: "Righteous";
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    justify-content: center;
  }
}

/* Estilo base para ambos botones */
.iniciarSesion,
.registro {
  display: inline-block;
  text-align: center;
  margin-left: 8px;
  border-radius: 10px;
  border: 2px solid var(--verde-oscuro);
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  text-decoration: none;
}

/* Estilo para el botón "Iniciar Sesión" */
.iniciarSesion {
  color: black;
}

/* Estilo para el botón "Registro" */
.registro {
  background-color: var(--verde-oscuro);
  color: black;
}

.iniciarSesion:hover,
.registro:hover {
  background-color: var(--verde-claro);
}

/*pagino de inicio*/
main{
  background-image: url("../img/fondo_quienes_somos.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.pgquienessomos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.subrayadoQuienesSomos p {
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}

.subrayadoQuienesSomos {
  background-color: var(--contraste-claro);
  height: 15px;
  font-size: 48px;
  width: 800px;
  text-align: center;
  margin: 50px auto;
  font-family: "Bellefair";
  margin-top: -500px;
}

.subrayadoQuienesSomos h3 {
  transform: translate(0px, -45px);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.subrayadoPsicologos p {
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}

.subrayadoPsicologos {
  background-color: var(--contraste-claro);
  height: 15px;
  font-size: 48px;
  width: 400px;
  text-align: center;
  margin: 50px auto;
  font-family: "Bellefair";
  margin-top: 250px;
}

.subrayadoPsicologos h3 {
  transform: translate(0px, -45px);
}

.subrayadoAsistentesM p {
  font-size: 40px;
  text-align: center;
  margin-top: -10px;
}

.subrayadoAsistentesM {
  background-color: var(--contraste-claro);
  height: 15px;
  font-size: 48px;
  width: 650px;
  text-align: center;
  margin: 50px auto;
  font-family: "Bellefair";
}

.subrayadoAsistentesM h3 {
  transform: translate(0px, -45px);
}

.subrayadoAsistentesN p {
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}

.subrayadoAsistentesN {
  background-color: var(--contraste-claro);
  height: 15px;
  font-size: 48px;
  width: 600px;
  text-align: center;
  margin: 50px auto;
  font-family: "Bellefair";
}

.subrayadoAsistentesN h3 {
  transform: translate(0px, -45px);
}

.container {
  width: 80%;
  margin: auto;
  text-align: left;
}

.container2 {
  width: 80%;
  margin: auto;
  text-align: right;
}

.container3 {
  width: 80%;
  margin: auto;
  text-align: center;
}

.profile {
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
}

.profile img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
  text-align: left;
}

.profile2 {
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
}

.profile2 img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
  text-align: right;
}

.btn {
  background: none;
  color: black;
  border-color: var(--verde-oscuro);
  border: 2px solid var(--verde-oscuro);
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: var(--verde);
}

.btn-big {
  background: #617C6F;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  padding: 15px 40px;
  font-size: 1.2rem;
}

.btn-big:hover {
  background: var(--verde);
  color: #000;
}

.fernando{
  text-align: left;
  width: 620px;
  text-align: justify;
  margin-top: -260px;
  font-size: 16px;
  font-family: "Bellefair";
}

.beatriz{
  text-align: right;
  width: 620px;
  text-align: justify;
  margin-top: -260px;
  margin-left: 550px;
  font-size: 16px;
  font-family: "Bellefair";
}

.beatriz p{
  font-family: "Chivo", sans-serif;
}

.fernando p{
  font-family: "Chivo", sans-serif;
}

.boton-cv-izq {
  text-align: left;
  margin-left: 190px;
}

.boton-cv-der {
  text-align: left;
  margin-left: 770px;
}

/* Agrega tus estilos para móvil, tablet, etc. */
@media (max-width: 768px) {
  .container {
      width: 95%;
  }
}

@media (min-width: 1920px) {
  .fernando{
    text-align: left;
    width: 620px;
    text-align: justify;
    margin-top: -260px;
  }
  
  .beatriz{
    text-align: right;
    width: 620px;
    text-align: justify;
    margin-top: -260px;
    margin-left: 850px;
  }
  
  .boton-cv-izq {
    text-align: left;
    margin-left: 190px;
  }
  
  .boton-cv-der {
    text-align: left;
    margin-left: 1070px;
  }
}