@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --verde: #d4f4c5;
  --verde-oscuro: #617c6f;
  --verde-claro: #edf8d3;
  --contraste: #f9a473;
  --contraste-oscuro: #bd9567;
  --contraste-claro: #f5deb0;
  --degradado: linear-gradient(
    247deg,
    #64a485 6.29%,
    #7ead96 38.82%,
    #9dca99 62.65%,
    #bdf1a4 86.31%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
  margin: 0;
  background-image: url(../img/fondoRecursosGratuitos.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* recursos gratuitos */

.podcast {
  width: 90vw;
  margin: auto;
}

.tituloPodcast {
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Bellefair";
  font-size: 30px;
}

.subrayadoPod {
  background-color: var(--contraste-claro);
  height: 10px;
  font-size: 24px;
  width: 200px;
  text-align: center;
  margin: 25px auto;
}

.subrayadoPod h3 {
  transform: translate(0px, -28px);
  font-family: "Bellefair";
  font-size: 38px;
}

.tituloPodcast img {
  width: 40px;
  height: 40px;
}

.tarjPodcasts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 90vw;
}

.tarjetaPodcast {
  background-color: var(--verde-claro);
  width: 350px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  font-family: "Arial", sans-serif;
  margin: 10px 25px 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fotoPod {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  margin-bottom: 15px;
  align-self: center;
}

.tarjetaPodcast h2 {
  color: #333333;
  font-size: 35px;
  margin: 0;
  padding: 0;
  font-family: "Bellefair";
  align-self: flex-start;
}

.tarjetaPodcast p {
  align-self: flex-start;
  margin-top: auto;
  font-size: 14px;
  margin: 15px 0 0 0;
  padding: 0;
}

.logoPodcast {
  width: 50px;
  height: auto;
  align-self: flex-start;
  margin-top: auto;
}

.subrayado {
  background-color: var(--contraste-claro);
  height: 10px;
  font-size: 24px;
  width: 320px;
  text-align: center;
  margin: 50px auto;
}

.subrayado h3 {
  transform: translate(0px, -28px);
  font-family: "Bellefair";
  font-size: 38px;
}

/* libros */

.libros {
  margin-bottom: 100px;
  margin-top: 200px;
}

.navegacion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.flecha-izquierda,
.flecha-derecha {
  font-size: 32px;
  cursor: pointer;
  margin: 0 35px;
}

.libros-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.libro_card {
  flex-direction: row;
  width: 80%;
  height: 85vh;
  display: none;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: var(--contraste-claro);
}

.libros-container {
  display: flex;
}

.libro-img {
  width: 40%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.libro-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
}

.libro-info h2 {
  font-family: "Righteous";
  font-size: 3.5vw;
  margin-bottom: 1.25vw;
}

.libro-info h3 {
  font-family: "Bellefair";
  font-size: 2.2vw;
  margin-bottom: 3.125vw;
}

.libro-info p,
.autor {
  font-family: "Chivo", sans-serif;
  margin-top: 1.25vw;
  font-size: 1em;
  margin: 1.25vw 0;
}

.btn-comprar {
  background-color: var(--verde-claro);
  border: 2px solid var(--verde-oscuro);
  color: #000;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  border-radius: 15px;
  margin: 10px auto;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

.btn-comprar:hover {
  background-color: var(--verde-oscuro);
  color: #000000;
}

/* videos mindfulness */

.videos {
  margin-bottom: 100px;
}
.video-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
}

.video {
  margin: 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(40% - 10px);
  background-color: var(--verde);
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.video iframe {
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  aspect-ratio: 16 / 9; /* Mantiene la relación de aspecto de los videos */
}

.video h3 {
  font-family: "Bellefair";
  font-size: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.video p {
  font-size: 16px;
  padding: 0 15px;
}

/* responsive */

/* tablet */
@media screen and (max-width: 992px) {
  body {
    font-family: "Chivo", sans-serif;
    margin: 0;
    background-image: url(../img/fondoRecursosGratuitos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 90%;
  }

  .tarjPodcasts .tarjetaPodcast {
    width: 40%;
  }

  .fotoPod {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .libro_card {
    margin: 0 auto;
    flex-direction: row;
    width: 87%;
    height: 85vh;
  }

  .libro-img {
    margin: auto;
    width: 45%;
    height: 100%;
    border-radius: 10px 0 0 10px; /* Redondear las esquinas superiores */
  }

  .libro-info {
    font-size: 1em;
    margin: 25px 15px;
    width: auto;
  }

  .libro-info h2 {
    font-family: "Righteous";
    font-size: 3.5vw;
    margin-bottom: 1.25vw;
  }

  .libro-info h3 {
    font-family: "Bellefair";
    font-size: 2.2vw;
    margin-bottom: 3.125vw;
  }

  .libro-info p,
  .autor {
    font-family: "Chivo", sans-serif;
    margin-top: 1.25vw;
    font-size: 1.8vw;
    margin: 1.25vw 0;
  }

  .videos {
    flex-direction: column;
  }

  .video,
  .tarjetaPodcast {
    width: 90%;
  }

  .video-gallery,
  .tarjPodcasts {
    gap: 40px;
  }
}

@media screen and (max-width: 992px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
  }
}

/* Estilos para pantallas de hasta 575px */
@media screen and (max-width: 575px) {
  body {
    font-family: "Chivo", sans-serif;
    margin: 0;
    background-image: url(../img/fondoRecursosGratuitos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 90%;
  }

  .tarjPodcasts .tarjetaPodcast {
    width: 40%;
  }

  .fotoPod {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .libro_card {
    margin: 0 auto;
    flex-direction: row;
    width: 87%;
    height: 85vh;
  }

  .libro-img {
    margin: auto;
    width: 45%;
    height: 100%;
    border-radius: 10px 0 0 10px; /* Redondear las esquinas superiores */
  }

  .libro-info {
    font-size: 1em;
    margin: 25px 15px;
    width: auto;
  }

  .libro-info h2 {
    font-family: "Righteous";
    font-size: 3.5vw;
    margin-bottom: 1.25vw;
  }

  .libro-info h3 {
    font-family: "Bellefair";
    font-size: 2.2vw;
    margin-bottom: 3.125vw;
  }

  .libro-info p,
  .autor {
    font-family: "Chivo", sans-serif;
    margin-top: 1.25vw;
    font-size: 1.8vw;
    margin: 1.25vw 0;
  }

  .videos {
    flex-direction: column;
  }

  .video,
  .tarjetaPodcast {
    width: 90%;
  }

  .video-gallery,
  .tarjPodcasts {
    gap: 40px;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
  }
}
