@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --verde: #d4f4c5;
  --verde-oscuro: #617c6f;
  --verde-claro: #edf8d3;
  --contraste: #f9a473;
  --contraste-oscuro: #bd9567;
  --contraste-claro: #f5deb0;
  --degradado: linear-gradient(
    247deg,
    #64a485 6.29%,
    #7ead96 38.82%,
    #9dca99 62.65%,
    #bdf1a4 86.31%
  );
}


.subrayado {
    background-color: var(--verde);
    height: 10px;
    width: auto; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 50px auto 20px; /
  }
  .subrayado h3 {
    top: -20px; 
    padding: 0 10px; 
    font-family: "Bellefair";
    font-size: 3em; 
    margin: 0; 
    transform: translate(0px, -20px);
  }
  body.reservaEvento {
    background-image: url("../img/formulariofondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Chivo", sans-serif;
    background-color: #f4f4f4; 
    color: black; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.contenedorForm {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 80%; 
    max-width: 900px; 
}
.formReserva{
    display: flex;
    flex-direction: column;
}
.filasFormulario{
    display: flex;
    flex-direction: column; 
   
}
.columnasForm{
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-bottom: 15px;
}
.formReserva input[type="text"],
.formReserva input[type="email"],
.formReserva select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #617C6F; 
    border-radius: 20px; 
}
.botonform{
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 32px;
    font-family: "Chivo", sans-serif;
    font-size: 15px;
    border-radius: 15px;
    border: 2px solid var(--verde-oscuro);
    background-color: var(--verde-claro);
    color: #000000;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    
  }
  .botonform:hover {
    background-color: var(--verde-oscuro);
    color: #000000;
  }
  .botonVolver{
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 32px;
    font-family: "Chivo", sans-serif;
    font-size: 15px;
    border-radius: 15px;
    border: 2px solid var(--verde-oscuro);
    background-color: var(--verde-claro);
    color: #000000;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  .botonVolver:hover {
    background-color: var(--verde-oscuro);
    color: #000000;
  }


/* Estilos para pantallas más pequeñas que 992px */
@media only screen and (max-width: 992px) {
  .filasFormulario {
    flex-direction: column; /* Cambiar la dirección de las filas a columna */
}
.columnasForm {
    width: 100%; /* Ajustar el ancho de las columnas al 100% en pantallas más pequeñas */
    margin-bottom: 10px; /* Reducir el margen inferior entre columnas */
}
}

/* Estilos para pantallas más pequeñas que 575px */
@media only screen and (max-width: 575px) {
  .contenedorForm {
      padding: 20px; /* Reducir el espacio de relleno en pantallas más pequeñas */
  }
  .filasFormulario {
      flex-direction: column; /* Cambiar la dirección de las filas a columna en pantallas más pequeñas */
  }
  .columnasForm {
      width: 100%; /* Ajustar el ancho de las columnas al 100% en pantallas más pequeñas */
      margin-bottom: 10px; /* Reducir el margen inferior entre columnas */
  }
  .botonform,
  .botonVolver {
      width: 100%; /* Ajustar el ancho de los botones al 100% en pantallas más pequeñas */
  }
}

