:root {
    --verde: #d4f4c5;
    --verde-oscuro: #617c6f;
    --verde-claro: #edf8d3;
    --contraste: #f9a473;
    --contraste-oscuro: #bd9567;
    --contraste-claro: #f5deb0;
    --degradado: linear-gradient(
      247deg,
      #64a485 6.29%,
      #7ead96 38.82%,
      #9dca99 62.65%,
      #bdf1a4 86.31%
    );
  }
  
  .tarjetasRetiros {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
    .price-container {
      margin-right: 10px; 
  }
  
  
  .subrayado2 {
    background-color: var(--contraste-claro);
    height: 10px;
    font-size: 24px;
    width: 300px;
    text-align: center;
    margin: 50px auto;
  }
  .subrayado2 h3 {
    transform: translate(0px, -20px);
  }
  
  .retiros {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--verde-claro);
    width: 1100px;
    height: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 20px 150px;
  }
  
  .retiros img {
    border-radius: 10px 10px 10px 10px;
    width: 60%;
    max-height: 350px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 20px;
  }
  
  .retiros h3 {
    font-size: 28px;
    font-family: "Bellefair";
    text-align: center;
    padding: 25px;
  }
  
  .retiros p {
    padding: 0 35px;
    text-align: center;
    font-family: "Chivo", sans-serif;
  }
  
  .retiros button {
    border-radius: 15px;
    width: 120px;
    height: 40px;
    border: 2px solid var(--verde-oscuro);
    background-color: var(--contraste-claro);
    color: #000000;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 25px;
    flex: none;
    margin-top: 30px;
  }
  
  .retiros button:hover {
    background-color: var(--verde-oscuro);
    color: #000000;
  }
  .retiros .price-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
  }
  
  .detalles-retiros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #757575;
    margin-top: 10px;
    padding: 20px;
    gap: 260px;
  }
  
  .tarjetasRetiros span {
    font-family: "Chivo", sans-serif;
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 5px 10px;
    margin: 0;
   
  }
  
  /* preguntas y respuestas */
  .faq-container {
    padding: 25px 0;
    width: 80%;
    margin: 45px auto;
  }
  
  .faq-title {
    text-align: center;
    padding: 20px;
    background: var(--contraste-claro);
    margin: 0 0 30px 0;
    font-size: 32px;
    position: relative;
  }
  
  .faq-title::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.1);
  }
  
  .faq-item {
    border-top: 1px solid var(--contraste-oscuro);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .faq-item:first-child {
    border-top: none;
  }
  
  .faq-item:hover {
    background: #f8f8f8;
  }
  
  .faq-question {
    padding: 15px 55px;
    margin: 0;
    position: relative;
    font-weight: bold;
    font-family: "Chivo", sans-serif;
  }
  
  .faq-answer {
    font-family: "Chivo", sans-serif;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 55px;
    color: #333;
  }
  
  .faq-answer p {
    margin: 0;
    padding: 15px 0;
    font-family: "Chivo", sans-serif;
  }
  
  .faq-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.5s ease;
  }
  
  .faq-icon svg {
    fill: #007bff;
  }
  
  .faq-item.show .faq-answer {
    max-height: 1000px;
  }
  
  .faq-item.show .faq-icon {
    transform: translateY(-50%) rotate(90deg);
  }
  .retiros,
.faq-container {
    width: 90%; 
    max-width: 1100px; 
    margin: 20px auto; 
}


  /* estilos en tablet */
@media screen and (max-width: 992px) {
  .retiros,
  .faq-container {
      width: 95%; 
  }
}

/* estilos en dispositivos móviles */
@media screen and (max-width: 575px) {
  .tarjetasRetiros {
    padding: 0 10px; 
  }
  
  .retiros {
    width: 100%;
    margin: 20px 0; 
  }
  
  .detalles-retiros {
    padding: 0 8px; 
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
  }
  
  .detalles-retiros span {
    margin-bottom: 10px; 
    text-align: center; 
  }
  
  .retiros button {
    width: 80%; 
    margin: 10px auto; 
  }
}


