@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --verde: #d4f4c5;
  --verde-oscuro: #617c6f;
  --verde-claro: #edf8d3;
  --contraste: #f9a473;
  --contraste-oscuro: #bd9567;
  --contraste-claro: #f5deb0;
  --degradado: linear-gradient(
    247deg,
    #64a485 6.29%,
    #7ead96 38.82%,
    #9dca99 62.65%,
    #bdf1a4 86.31%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
  margin: 0;
}

/* pag servicios */

.bodyServicios {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.pgservicios h1 {
  margin-top: -75px;
  font-size: 4em;
  padding: 0 5%;
  font-family: "Righteous";
  color: var(--verde-oscuro);
}
.pgservicios h2 {
  font-size: 3.2em;
  font-family: "Bellefair";
  color: var(--contraste-oscuro);
}

.pgservicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/fondoServicios.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 90vh;
  text-align: center;
}

.boton_servicios {
  margin-top: 95px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 70px;
  font-family: "Chivo", sans-serif;
  font-size: 32px;
  border-radius: 15px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde-claro);
  color: #000000;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.boton_servicios:hover {
  background-color: var(--verde-oscuro);
  color: #000000;
}
.subrayado {
  background-color: var(--verde);
  height: 10px;
  font-size: 24px;
  width: 300px;
  text-align: center;
  margin: 50px auto;
}
.subrayado h3 {
  transform: translate(0px, -20px);
}

/* parte talleres en pag servicios */
.talleresServicios {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 5%;
}

.subrayado2 {
  background-color: var(--verde);
  height: 10px;
  font-size: 24px;
  width: 500px;
  text-align: center;
  margin: 50px auto;
}
.subrayado2 h3 {
  transform: translate(0px, -20px);
}
.subrayado4 {
  background-color: var(--verde);
  height: 10px;
  font-size: 24px;
  width: 500px;
  text-align: center;
  margin: 50px auto;
}
.subrayado4 h3 {
  transform: translate(0px, -20px);
}

.tallerServicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--contraste-claro);
  width: 430px;
  height: 580px;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin: 3% 5%;
}

.tallerServicios img {
  border-radius: 15px 15px 0 0;
  width: 430px;
  height: 50%;
  object-fit: cover;
}
/* .talleresServicios span {
  margin-top: 20px;
} */

.tallerServicios h3 {
  font-size: 24px;
  font-family: "Bellefair";
  text-align: center;
  padding: 25px;
}

.tallerServicios p {
  padding: 0 35px;
  text-align: center;
  font-family: "Chivo", sans-serif;
}

.tallerServicios button {
  border-radius: 15px;
  width: 88px;
  height: 40px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde-claro);
  color: #000000;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 8px auto;
}
.tallerServicios button:hover {
  background-color: var(--verde-oscuro);
  color: #000000;
}

/* parte de asistentes en pag servicios */
.subrayado4 {
  background-color: var(--verde);
  height: 10px;
  font-size: 24px;
  width: 500px;
  text-align: center;
  margin: 50px auto;
}
.subrayado3 h4 {
  transform: translate(0px, -20px);
}

.secionAsistentes {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  padding: 2% 15%;
}

.contenidoAsistentes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfilesAsistentes {
  text-align: center;
  margin: 10px 0;
}

.perfil-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.perfil-nombre {
  margin-top: 0.5em;
  font-weight: bold;
}

.perfil-titulo {
  font-size: 0.9em;
  color: grey;
}

.contenidoTexto {
  max-width: 400px;
  margin-top: 28px;
}

.reserve-button {
  border-radius: 15px;
  width: 120px;
  height: 40px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde-claro);
  color: #000000;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: auto;
  margin-bottom: 25px;
  flex: none;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}
.reserve-button:hover {
  background-color: var(--verde-oscuro);
  color: #000000;
}

/* parte de texto antes de cursos */
.textoSalud {
  font-size: 30px;
  font-family: "Bellefair";
  color: var(--verde-oscuro);
  text-align: center;
  margin: 5% 0 9%;
}

.palDif {
  color: var(--contraste);
}

/* parte de cursos */
.subrayado3 {
  background-color: var(--contraste-claro);
  height: 10px;
  font-size: 24px;
  width: 280px;
  text-align: center;
  margin: 50px auto;
}
.subrayado3 h3 {
  transform: translate(0px, -20px);
}

.contenidoCursos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.cursos {
  display: flex;
  width: 100%;
  margin-bottom: 2em;
  background-color: var(--verde-claro);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para alternar la disposición de los cursos */
.cursos:nth-child(odd) {
  flex-direction: row-reverse; /* Imagen a la derecha para cursos impares */
}

.cursos:nth-child(even) {
  flex-direction: row; /* Imagen a la izquierda para cursos pares */
}

.imagenCurso,
.imagenCurso2,
.tarjetaDescripcion,
.tarjetaDescripcion2 {
  padding: 20px;
}

.cursos .imagenCurso img,
.cursos .imagenCurso2 img {
  width: 60%;
  height: 100%;
  margin-left: 110px;
}

.tarjetaDescripcion {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}
.tarjetaDescripcion2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
}

.course-details {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #757575;
  margin-top: 10px;
  padding: 10px;
}

.course-details span {
  margin-right: 10px;
}

.card-titulo h3 {
  margin: 30px 0 50px 0;
  color: black;
  font-size: 1.5rem;
  font-family: "Bellefair";
}

.tarjeta-link {
  align-self: flex-start;
  margin-top: 20px;
}

.tarjeta-link button {
  border-radius: 15px;
  width: 120px;
  height: 40px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--contraste-claro);
  color: #000000;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: auto;
  margin-bottom: 25px;
  flex: none;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}

.tarjeta-link button:hover {
  background-color: var(--verde-oscuro);
  color: #000000;
}
.infotalleres {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  
}
.infotalleres .online-details{
  margin: 10px auto;
}

.tallerServicios h3,
.tallerServicios span,
.tallerServicios .precio,
.tallerServicios button {
  margin-bottom: 10px; 
}



/* para tablet */
@media  screen and (max-width: 992px) {
 
  
  .pgservicios h1 {
    font-size: 3em;
  }
  .pgservicios h2 {
    font-size: 2.4em;
  }
  .textoSalud{
    font-size: 1.5em;
  }
  .boton_servicios {
    width: 250px;
    height: 60px;
    font-size: 28px;
    margin-top: 80px;
  }
.tallerServicios {
  margin: 0 auto;
  flex-direction:row;
  width: 80%;
  height: 50vh;
  align-items: center;
}
.talleresServicios img{
  flex: 0 0 50%;
  object-fit: cover;
  margin: auto;
  width: 50%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.cursos {
  flex-direction: column; 
  align-items: center; 
  text-align: center;
}
.cursos .imagenCurso img,
.cursos .imagenCurso2 img {
  width: 55%; 
  border-radius: 10px; 
  margin: 20px auto;
}

.tarjetaDescripcion,
.tarjetaDescripcion2 {
  width: 90%; 
  margin: 0 auto;
  
}
.course-details {
  justify-content: center; 
  flex-wrap: wrap; 
  margin: 20px auto; 
}

.tarjeta-link, 
.tarjeta-link p {
    width: 100%; 
    text-align: center; 
    margin: 10px 0; 
    display: block; 
  }

.tarjeta-link button {
  padding: 10px 20px; 
  
}
/* Eliminamos cualquier estilo que altere
 la disposición de elementos para cursos impares y pares */
.cursos:nth-child(odd),
.cursos:nth-child(even) {
  flex-direction: column;
}

}




/* para movil */
@media screen and (max-width: 575px) {
  .pgservicios{
    background-image: none;
  }
  .pgservicios h1 {
    font-size: 2.5em; 
  }
  .pgservicios h2 {
    font-size: 1.8em; 
  }
  .boton_servicios {
    width: 200px; 
    height: 50px;
    font-size: 24px;
    margin-top: 50px;
  }
  .talleresServicios{
    flex-direction: column;
    align-items: center;
  }
  .tallerServicios {
    width: 90%; 
    margin-bottom: 20px; 
  }
  .cursos .imagenCurso img,
  .cursos .imagenCurso2 img {
    width: 60%; 
  }
  .tarjetaDescripcion,
  .tarjetaDescripcion2 {
    width: 100%;
    margin: 0 0; 
    
  }
  .course-details {
    flex-direction: column; 
    margin: 10px 0; 
  }
  .course-details span {
    margin: 5px 0;
  }
  .tarjeta-link {
    margin: 10px 0; 
  }
  .tarjeta-link p {
    font-size: 16px; 
  }
  .tarjeta-link button {
    width: auto; 
    padding: 10px 20px; 
    margin: 10px auto;
    text-align: center;
  }
 
  .contenidoTexto {
    text-align: center;
    padding: 0 5%;
    margin: 20px 0; 
  
  }
  .secionAsistentes, .contenidoAsistentes, .perfilesAsistentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

 
  .secionAsistentes {
    flex-direction: column; 
    padding: 5%; 
  }

  
  .contenidoAsistentes {
    width: 100%;
    align-items: center; 
  }


  .perfilesAsistentes {
    margin: 10px auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }

 
  .perfil-image {
    width: 120px; 
    height: 120px; 
    margin-bottom: 10px; 
  }

  
  .perfil-nombre, .perfil-titulo {
    text-align: center; 
    margin-bottom: 5px; 
  }


  .reserve-button {
    width: auto; 
    padding: 10px 20px;
    font-size: 16px; 
    margin: 10px auto; 
  }
  .talleresServicios button{
    margin: 0 auto;
    
  }

}