@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --verde: #d4f4c5;
  --verde-oscuro: #617c6f;
  --verde-claro: #edf8d3;
  --contraste: #f9a473;
  --contraste-oscuro: #bd9567;
  --contraste-claro: #f5deb0;
  --degradado: linear-gradient(
    247deg,
    #64a485 6.29%,
    #7ead96 38.82%,
    #9dca99 62.65%,
    #bdf1a4 86.31%
  );
}
/* Resetea el padding y el margin para remover los espacios predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
  margin: 0;
}

/* Estilos para la página de inicio específicamente */
.inicio {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Chivo", sans-serif;
  color: #000000;
  height: 100vh;
}

main {
  flex-direction: column;
  display: flex;
  height: 100%;
}

/* Estilos para el encabezado */
.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  max-height: 70px;
}

.nombre {
  margin-left: 25px;
  max-height: 45px;
}

/* Estilos para el menú */
nav {
  flex-grow: 1;
  text-align: right;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0;
}

.menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

/* Estilo base para ambos botones */
.iniciarSesion,
.registro {
  display: inline-block;
  text-align: center;
  margin-left: 8px;
  border-radius: 10px;
  border: 2px solid var(--verde-oscuro);
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  text-decoration: none;
}

/* Estilo para el botón "Iniciar Sesión" */
.iniciarSesion {
  color: black;
}

/* Estilo para el botón "Registro" */
.registro {
  background-color: var(--verde-oscuro);
  color: black;
}

.iniciarSesion:hover,
.registro:hover {
  background-color: var(--verde-claro);
}

/* Estilos para el dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--verde);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  cursor: pointer;
}

/* Footer */
footer {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(244, 252, 240, 0.54) 22.4%,
    #e8f9e0 57.46%,
    #d4f4c5 100%
  );
  color: #333;
  padding: 20px 0;
  position: relative;
}

.redesSociales {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.redesSociales a {
  margin: 0 20px;
}

.redesSociales img {
  width: 30px;
  height: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 20px;
}

.footer-section h3 {
  color: #000;
  margin-bottom: 10px;
}

.footer-section a {
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 5px;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: var(--verde-oscuro);
}

.footer-branding {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid var(--verde-oscuro); /* Línea divisoria */
  padding-top: 10px;
}

.footer-branding p {
  margin: 5px 0;
}

.nombre_footer {
  font-family: "Righteous";
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    justify-content: center;
  }
}
/* inicio de sesion */
.inicioSesion {
  background-image: url(img/fondoRegistro.png);
  font-family: "Righteous";
}

.subrayadoFormulario {
  background-color: var(--contraste-claro);
  height: 15px;
  font-size: 24px;
  width: 500px;
  text-align: center;
  margin: 100px auto;
}

.subrayadoFormulario h3 {
  transform: translate(0px, -65px);
  font-size: 75px;
}

label {
  display: block;
  margin: 15px 50px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 15px 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #b7b9bb; /* Cambia el color del botón según tu preferencia */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}

/*pagino de inicio*/
.pginicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

h1 {
  font-family: "Righteous";
  font-size: 80px;
  color: var(--verde-oscuro);
}

p {
  /* font-size: 16px; */
  font-family: "Bellefair";
}

.boton_inicio {
  margin-top: 95px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 397px;
  height: 82px;
  font-family: "Chivo", sans-serif;
  font-size: 32px;
  border-radius: 15px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde-claro);
  color: #000000;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.boton_inicio:hover {
  background-color: var(--verde-oscuro);
  color: #000000;
}

.bienvenido {
  display: flex;
  width: 100%;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.titBienvenido {
  color: var(--verde-oscuro);
  font-size: 48px;
  font-family: "Bellefair";
}

.bienvenido p {
  font-size: 40px;
  text-align: center;
  margin: 0 400px;
}

.talleresInicio {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.subrayado {
  background-color: var(--verde);
  height: 10px;
  font-size: 24px;
  width: 300px;
  text-align: center;
  margin: 50px auto;
}

.subrayado h3 {
  transform: translate(0px, -20px);
}

.taller {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--contraste-claro);
  width: 400px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 50px 150px;
}

.taller img {
  border-radius: 10px 10px 0 0;
  width: 400px;
  height: auto;
}

.taller h3 {
  font-size: 24px;
  font-family: "Bellefair";
  text-align: center;
  padding: 25px;
}

.taller p {
  padding: 0 35px;
  text-align: center;
  font-family: "Chivo", sans-serif;
}

.taller button {
  border-radius: 15px;
  width: 88px;
  height: 40px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde-claro);
  color: #000000;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: auto;
  margin-bottom: 25px;
}

.taller button:hover {
  background-color: var(--verde-oscuro);
  color: #000000;
}

.profesionales {
  text-align: center;
  background-image: url(img/fondoProfresionalesInicio.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.profesionales h2 {
  color: var(--verde-oscuro);
  font-family: "Bellefair";
  font-size: 40px;
  margin-bottom: 20px;
}

.profesionales img {
  width: 200px;
}

.profesionales button {
  border-radius: 10px;
  border: 2px solid var(--verde-oscuro);
  background-color: var(--verde-claro);
  width: 250px;
  height: 35px;
  font-size: 16px;
}

.profesionales button:hover {
  background-color: var(--verde);
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin: 15px 250px;
}

.cursos {
  background-color: var(--verde-claro);
  border-radius: 15px;
  max-width: 500px;
  width: calc(50% - 20px);
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cursos img {
  display: block;
  height: 180px;
  width: auto;
  margin: 10px auto;
}

.card-title h3 {
  text-align: center;
  padding: 10px 0;
}

.card-text p {
  padding: 35px;
  margin: 0;
  font-size: 16px;
  font-family: "Chivo", sans-serif;
}

.card-link {
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 25px;
}

.card-link p {
  margin: 0;
  padding: 0 15px;
  font-family: "Chivo", sans-serif;
}

.card-link button {
  width: 20%;
  padding: 10px;
  border: none;
  background-color: var(--contraste);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-link button:hover {
  background-color: var(--contraste-claro);
}
